$base_color: #ffab4e;
$base_light_color: #f73859;
$font_color: #000000;
$back_color: #f7fbfc;
$height_color: #1fab89;
$button_color: #1fab89;
$hover_color: #ebf5fe;
$light_font_color: #0990db;
$light_button_color: #ff5722;

// font-size
$h1_size: 30px;
$h2_size: 24px;
$h3_size: 16px;

// border-weight
$font_weight_bold: 800;
$font_weight_middle: 500;